<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/css/navigationbar.css">
    <title>DSC | Dashboard</title>
  </head>
  <body>
    <div class="container-md">
        <h3 class="py-5">Dashboard</h3>
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card mt-3 shadow-sm">
            <div class="card-body">
                <div class="d-flex justify-content-center pt-1 pb-3">
                    <img src="../public/images/event_icon.png" alt="event">
                </div>
              <h5 class="card-title text-center">Events</h5>
              <p class="card-text text-center">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <div class="text-center">
                  <a href="#" class="btn btn-success rounded-pill">Create</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mx-auto">
          <div class="card mt-3 shadow-sm">
            <div class="card-body">
                <div class="d-flex justify-content-center pt-1 pb-3">
                    <img src="../public/images/team_icon.png" alt="event">
                </div>
              <h5 class="card-title text-center">Teams</h5>
              <p class="card-text text-center">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <div class="text-center">
                  <a href="#" class="btn btn-danger rounded-pill">Create</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mx-auto">
          <div class="card mt-3 shadow-sm">
            <div class="card-body">
                <div class="d-flex justify-content-center pt-1 pb-3">
                    <img src="../public/images/project_icon.png" alt="event">
                </div>
              <h5 class="card-title text-center">Projects</h5>
              <p class="card-text text-center">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <div class="text-center">
                  <a href="#" class="btn btn-warning rounded-pill text-light">Create</a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <!-- <div class="container-md mt-5">
        <table class="table" id="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="d-none d-sm-block">#</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Email</th>
                <th scope="col">Phone no</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
    </div> -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
    <script src="../public/js/navigationbar.js"></script>
    <!-- <script src="./js/table.js"></script> -->
  </body>
</html>
