.event {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 90%;
}

/*start of form section*/
.events {
	padding-top: 30px;
	text-align: center;
	width: 80%;
	align-self: center;
}

/*design of outer box of event form*/
.main-container {
    box-shadow: 3px 7px 27px 3px rgb(221, 232, 255);
	background: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	/* margin-left: 2rem; */
}
.container{
	padding: 2rem 2rem 1rem 2rem;
border-radius: 20px;
	
}
.card .container{
    box-shadow: 0px 0px 27px rgb(221, 232, 255);
	
}
.evnttitle{
	padding-left: 0.5rem;
	border-radius: 0.5rem;
	font-size: 2.5rem;
	padding-bottom: 4px;
	font-family: 'Oswald', sans-serif;
	color:#fff;
}
/*start of design of drag drop area*/
.photo-box {
	border: 2px dashed;
	border-color: rgb(138, 138, 138);
    border-radius: 1rem;
	color: #292929;
	margin: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 43vh;
	cursor: pointer;
}
.form-control{
	background-color: #D7DBDD;
		font-family: "Poppins", sans-serif;
}
.control-label{
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
}
.img-fluid{
height: 350px;
}
.row{
	display: flex;
}
.firstrow{
	margin-left: 0px;
	margin-right: 0px;
}
.secrow{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 1rem;
	display: block;
}
.editcont{
	padding: 2rem;
}
.plo{
	padding-left: 0px;
}
.plro{
	padding-right: 0px;
	padding-left: 0px;
}
.editbox{
	margin: 0px;
	height: 100%;
}
.img{
	max-width: 100%;
	height:100%;
	max-width: 420px;
	max-height: 260px;
}

.photo-box .icon {
	font-size: 70px;
	color: #000;
}

.photo-box p {
	color: rgb(138, 138, 138);
	font-family: "Poppins", sans-serif;
	margin-bottom: 0.1rem;
}
/*end of design of drag drop area*/
.btn1 {
	transition: all 0.5s ease-in-out;
}

.btn1:hover {
	transform: scale(1.1);
}

@media only screen and (max-width: 472px) {
	.photo-box {
		width: 90%;
		float: none;
	}
	.form {
		width: 90%;
		float: none;
	}
}
/* end of form section*/

/*start cards section*/
.events1 {
	padding-top: 30px;
	text-align: center;
	align-self: center;
	height: max-content;
}

.card {
	box-shadow: 3px 7px 20px rgb(221, 232, 255);
	border-radius: 20px;
	display: flex;
	text-align: left;
	flex-direction: column;
	transition: all 0.5s ease-in-out;
	border: 0px;
}
.submitbtn{
	border-radius: 1rem; 
	font-family: "Poppins", sans-serif;
	padding: 0.5rem 3rem 0.5rem 3rem;
}

.card:hover{
transform: scale(1.1)
}

.venue {
	text-align: left;
}
.date{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 0px;
	 font-size: small
}
/* slots accordion*/
.accordion-body p:last-child{
	margin-bottom: 0px;
}

.accordion-button,.accordion-body{
	font-family: "Libre Franklin", sans-serif;
}
/*event actions*/
.actionbtns button{
	font-family: "Poppins", sans-serif;	
}
.actionbtns button:nth-child(1):hover{
	background-image: none;
	color: #fff;
	background-color:#2f2f2f;
}
.actionbtns button:nth-child(1){
	background-image: linear-gradient(to top,#000000 ,rgb(106, 106, 106) 96%);
	color: #ffff;
	border-color: #252525;
}
.actionbtns button:not(.actionbtns button:nth-child(1)){
	background-image: linear-gradient(#ffffff ,rgb(217, 217, 217) 90%);
	border-image: linear-gradient(#030303 ,rgb(209, 209, 209) 90%);
}
.actionbtns button:not(.actionbtns button:nth-child(1)):hover{
	background-image:none;
	background-color: #fff;
	color: #000;
	border: 1px solid;
	border-color: #000;
	
}

.venue p {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 0rem;
	padding-left: 7px;
}

.status {
	text-align: right;
}
.status p {
	float: right;
	width: max-content;
	font-family: "Poppins", sans-serif;
	border-radius: 1rem;
	padding: 7px 20px 7px 20px;
	margin-bottom: 0rem;

}

@media only screen and (max-width: 576px) {
	.status p {
		float: left;
	}
	.events {
		width: 80%;
	}
}
/*end of card section*/

.pgtitle{
	align-self: center; 
	font-family: 'DM Serif Display', serif;
		padding: 4px 0px 4px 0px;
}
.active{
	border-color: limegreen;
}

#flownoutdiv{
	height: calc(100% - 60px);
	background-color: black; 
	width:3px;
	margin-left: 7px;
}