.event {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 90%;
}

/*start of form section*/
.events {
	padding-top: 30px;
	text-align: center;
	width: 80%;
	align-self: center;
}

/*design of outer box of event form*/
.main-container {
	box-shadow: 7px 7px 5px #d7dbdd;
	background: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
}

/*start of design of drag drop area*/
.photo-box {
	border-style: dashed;
	color: #d7dbdd;
	margin: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 43vh;
}

.photo-box .icon {
	font-size: 70px;
	color: #000;
}

.photo-box header {
	font-size: 20px;
	font-weight: 200;
	color: #d7dbdd;
}

.photo-box span {
	font-size: 20px;
	font-weight: 300;
	color: #000;
	margin: 10px 0 15px 0;
}

.photo-box button {
	padding: 10px 25px;
	font-size: 20px;
	font-weight: 500;
	border: none;
	outline: none;
	background: transparent;
	color: #d7dbdd;
	border-radius: 5px;
	cursor: pointer;
}

/*end of design of drag drop area*/
.btn1 {
	transition: all 0.5s ease-in-out;
}

.btn1:hover {
	transform: scale(1.1);
}

@media only screen and (max-width: 472px) {
	.photo-box {
		width: 90%;
		float: none;
	}
	.form {
		width: 90%;
		float: none;
	}
}
/* end of form section*/

/*start cards section*/
.events1 {
	padding-top: 30px;
	text-align: center;
	align-self: center;
	height: max-content;
}

.card {
	box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
	background: #fff;
	border-radius: 5px;
	display: flex;
	text-align: left;
	flex-direction: column;
	transition: all 0.5s ease-in-out;
}

/* .card:hover{ */
/* transform: scale(1.1) */
/* } */

.venue {
	text-align: left;
}
.venue p {
	font-size: 22px;
	font-weight: 400;
}

.status {
	text-align: right;
}
.status p {
	float: right;
	width: max-content;
	font-size: 22px;
	border-radius: 10px;
	background-color: black;
	padding-left: 3px;
	padding-right: 3px;
	color: white;
}

@media only screen and (max-width: 576px) {
	.status p {
		float: left;
	}
	.events {
		width: 80%;
	}
}
/*end of card section*/
