<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %> 
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">

    </head>
  <body>
    <script src="js/navigationbar.js"></script>
    <style>
      .card{
        position:static;
      }
    </style>
    <div class="container p-2">
        <h3 class="py-5" style="font-family:'Oxygen', sans-serif;">Dashboard</h3> <span><button class="btn btn-dark text-light" onclick="userLogout()">Logout</button></span>
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card mt-3 shadow-sm">
            <div class="card-body">
                <div class="d-flex justify-content-center pt-1 pb-3">
                    <img src="/images/event_icon.png" alt="event">
                </div>
              <h5 class="card-title text-center">Events</h5>
              <p class="card-text text-center">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <div class="text-center">
                  <a href="/event" class="btn btn-success rounded-pill">Create</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mx-auto">
          <div class="card mt-3 shadow-sm">
            <div class="card-body">
                <div class="d-flex justify-content-center pt-1 pb-3">
                    <img src="/images/team_icon.png" alt="event">
                </div>
              <h5 class="card-title text-center">Teams</h5>
              <p class="card-text text-center">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <div class="text-center">
                  <a href="/teams" class="btn btn-danger rounded-pill">Create</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mx-auto">
          <div class="card mt-3 shadow-sm">
            <div class="card-body">
                <div class="d-flex justify-content-center pt-1 pb-3">
                    <img src="/images/project_icon.png" alt="event">
                </div>
              <h5 class="card-title text-center">Projects</h5>
              <p class="card-text text-center">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <div class="text-center">
                  <a href="/project" class="btn btn-warning rounded-pill text-light">Create</a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <!-- <div class="container-md mt-5">
        <table class="table" id="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="d-none d-sm-block">#</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Email</th>
                <th scope="col">Phone no</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
    </div> -->
    <%- include("../partials/scripts") %> 
    <!-- <script src="./js/table.js"></script> -->
    
    <script>
        const userLogout = async()=>{
        const response = await fetch('/auth/logout', {
                                      method: 'POST', 
                                    });
        console.log(response)
        location.reload();
      }
    </script>
  </body>
</html>
